
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* NAV BAR STYLE */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FB7306;
  color: white;
  padding: 15px 30px;
}

.logo img {
  width: 120px;
}

.menu {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #ffcc00;
}

.cart-order-toggle {
  display: flex;
  gap: 10px;
}

.cart img {
  margin-top: 7px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.mobile-menu-toggle {
  font-size: 35px;
  padding-bottom: 5px;
  cursor: pointer;
  display: none;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  display: none;
  z-index: 2; /* Coloca encima del menú */
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: #FB7306;
  color: white;
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  transition: left 0.3s ease;
  z-index: 3; /* Coloca encima del fondo oscuro */
}

.mobile-menu a {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

.mobile-menu a:hover {
  background-color: #555;
}

.mobile-menu.show {
  left: 0;
}

.order-now {
  order: 3;
}

.order-now button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}


.order-now button:hover {
  background-color: #5a5a5a;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .mobile-menu-toggle {
    display: flex;
  }

  .cart-order-toggle {
    order: 2;
  }

  .order-now {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 10px;
  }

  .mobile-menu-container {
    display: none; /* Oculta inicialmente */
  }

  .mobile-menu.show {
    left: 0;
    width: 70%;
  }
}


/* NAV BAR ENDS */